<script setup lang="ts">
import { defineProps } from 'vue';
import { api } from '@/http-api';

const props = defineProps<{ id: number }>()

api.getImage(props.id)
  .then((data: Blob) => {
    const reader = new window.FileReader();
    reader.readAsDataURL(data);
    reader.onload = () => {
      const galleryElt = document.getElementById("gallery");
      if (galleryElt !== null) {
        const imgElt = document.createElement("img");
        galleryElt.appendChild(imgElt);
        if (imgElt !== null && reader.result as string) {
          imgElt.setAttribute("src", (reader.result as string));
        }
      }
    };
  })
  .catch(e => {
    console.log(e.message);
  });
  function openwin(){
    var modal = window.document.getElementById("myModal");
    if (modal != null) {
      modal.style.display = "block";
    }
  }

  function closemod(){
    var modal = window.document.getElementById("myModal");
    if (modal != null) {
      modal.style.display = "none";
    }
  }

  function show(id){
    var y = Array.from(document.getElementsByClassName(id) as HTMLCollectionOf<HTMLElement>)
        if(y!=null){
          y.forEach((elem) => {
            elem.style.display = "inline-block";
          })
        }
  }

  function change(){
    var x = (<HTMLInputElement>document.getElementById("algo-select")).value;
    if(x != null){
      if(x==="lum"){
        show("lum");
      }else if(x==="flou"){
        show("flou");
      }
    }
  }

</script>

<template>
  <figure id="gallery">
    <button id="btnModif" type="button" @click="openwin">Modifier</button>
    <div id="myModal" class="modal">

      <div class="modal-content">
        <span class="close" @click="closemod">&times;</span>
        <label for="algo-select">Choose the algorithm:</label>
        <select name="algos" id="algo-select" @change="change()" >
            <option  value="">--Please choose an option--</option>
            <option  value="lum">Luminosity</option>
            <option  value="histo">Histogramme</option>
            <option  value="col">Filtre coloré</option>
            <option  value="flou">Filtre de flou</option>
            <option  value="contour">Filtre de contour</option>
        </select>
        <div id="param">
          <label class="lum" for="gain">Gain : </label>
          <input class="lum" type="number" id="gain" name="gain">

          <label class="flou" for="flou">Flou : </label>
          <input class="flou" type="number" id="flou" name="flou">
        </div>

        <div id="btnmod">
          <button  type="submit" onclick="alert('Hello world!')">Valider</button>
          <button  type="button" @click="closemod">Anuler</button>
        </div>
        
      </div>

    </div>
  </figure>
</template>

<style>
#param .lum{
  display: none;
}

#param .flou{
  display: none;
}
#btnModif{
  display: block;
}
#btnMod{
  display: block;
}
#btnMod btn{
  display: "inline";
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>